<%- include('layouts/header.ejs', {title:"Home"}) %>

    <section id="menu-proyectos" class="container">
        <h2 class="text-center">Menú de Proyectos</h2>
        <div>
            <a href="/mobile">Mobile</a>
        </div>
        <div>
            <a href="/landing">Landing Page</a>
        </div>
        <div>
            <a href="/webapp">Web app</a>
        </div>
        <div>
            <a href="/ecommerce">Ecommerce</a>
        </div>
        <div>
            <a href="/game">Game</a>
        </div>
    </section>



<%- include('layouts/footer.ejs') %> 